<h2>{{ section.settings.title }}</h2>
{%  schema %}
{
  "name": "Promotions Group",
    "tag": "section",
    "class": "my-wrapper-class",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
    },

  ],
  "presets": [
    {
      "name": "Promotions Group",
      "category": "Custom"
    }
  ]
}
{%  endschema %}